body {
    background-color: lightgray;
}

#row_title {
    justify-content: center;

}

.align_title {
    margin-bottom: 10em;
    margin-top: 10em;
}

.align_link {
    display: flex;
    align-items: center;
}